@font-face {
  font-family: 'Noto Sans TC';
  src: url('/src/assets/font/NotoSansTC-Regular.ttf') format('trueType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans TC';
  src: url('/src/assets/font/NotoSansTC-Medium.ttf') format('trueType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans TC';
  src: url('/src/assets/font/NotoSansTC-Bold.ttf') format('trueType');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans TC';
  src: url('/src/assets/font/NotoSansTC-ExtraBold.ttf') format('trueType');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Apply the font */
/* body {
  font-family: 'Noto Sans TC', sans-serif;
} */

:root {
  font-family: 'Noto Sans TC', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);
  background-color: #FBFBFB;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #0027D5;
  --secondary-color: #6C757D;
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --button-color: #4B4B4B;
  --button-border: #000000;
  --border-radius-base: 2.5rem;
  --section-bg-primary: #F5F5F5;
  --hover-color: #cb3636;
  --remarks-block: #EDEDED;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul,
li,
ol{
  list-style: none;
  font-weight: 500;
}

ul.dot li, ol li{
  padding-left: 1.5rem;
  position: relative;
}

ul.dot li:before {
  position: absolute;
  content: '';
  display: block;
  width: 5px;
  aspect-ratio: 1;
  background-color: var(--dark-color);
  border-radius: 50%;
  left: 7px;
  top: 9px;
}

ol {
  counter-reset: count;
}

ol li {
  counter-increment: count;
}

ol li:before {
  content: counter(count)'.';
  position: absolute;
  display: block;
  left: 6px;
  top: 0;
}

p {
  font-weight: 500;
}

h1,
.h1 {
  font-size: clamp(52px, 7.5vw, 120px);
  font-weight: 900;
}

h2,
.h2 {
  font-size: clamp(48px, 5vw, 64px);
  margin-bottom: 1.5rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

.h4 {
  font-size: 1.25rem;
  margin-bottom: .75rem;
  color: var(--dark-color);
}

a {
  font-weight: 400;
  color: #646cff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #535bf2;
}

img {
  max-width: 100%;
  line-height: 0;
}

p {
  margin-bottom: 1rem;
}

section {
  padding: 4rem 0;
}

.text-primary {
  color: var(--primary-color);
}

.cover-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 .75rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row .col {
  width: 100%;
}

.flex-wrap {
  display: flex;
  align-items: center;
}

.remarks-block {
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--remarks-block);
}

.remarks-block p {
  font-weight: 700;
  color: var(--dark-color);
}

.remarks-block p:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  section {
    padding: 5rem 0;
  }

  .row {
    flex-wrap: nowrap;
  }

  .row .col {
    width: 50%;
  }
}

.button {
  display: inline-block;
  padding: .5rem 1rem;
  color: var(--button-color);
  border: 1px solid var(--button-border);
  border-radius: var(--border-radius-base);
  background-color: var(--light-color);
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
  transition: all .25s ease;
}

.button:hover {
  color: var(--light-color);
  border: 1px solid var(--light-color);
  background-color: var(--hover-color);
}

.button.button-primary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: 700;
}

.button.button-primary:hover {
  color: var(--light-color);
  border: 1px solid var(--light-color);
  background-color: var(--primary-color);
}

.button.prev-page {
  padding-left: 2.5rem;
  position: relative;
}

.button.next-page {
  position: relative;
  padding-right: 2.5rem;
}

.button.prev-page:before,
.button.next-page:before {
  content:'';
  display: block;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background: no-repeat url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%234B4B4B"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>') center center / 1.5rem 1.5rem;
  transition: all .25s ease;
}

.button.next-page:before {
  right: 1rem;
  left: inherit;
  transform: translateY(-50%) rotate(180deg);
}

.button:hover.prev-page:before,
.button:hover.next-page:before {
  background: no-repeat url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23ffffff"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>') center center / 1.5rem 1.5rem;
}


.btn {
  display: inline-block;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.btn-rounded {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--dark-color);
  transition: all .25s ease;
  background: no-repeat url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 12C1.5 11.5858 1.83579 11.25 2.25 11.25H19.9393L15.2197 6.53033C14.9268 6.23744 14.9268 5.76256 15.2197 5.46967C15.5126 5.17678 15.9874 5.17678 16.2803 5.46967L22.2803 11.4697C22.5732 11.7626 22.5732 12.2374 22.2803 12.5303L16.2803 18.5303C15.9874 18.8232 15.5126 18.8232 15.2197 18.5303C14.9268 18.2374 14.9268 17.7626 15.2197 17.4697L19.9393 12.75H2.25C1.83579 12.75 1.5 12.4142 1.5 12Z" fill="black"/></svg>') center center / 1.5rem 1.5rem;
  font-size: 0;
}

.button-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icon {
  display: block;
  width: 2.75rem;
  aspect-ratio: 1;
  line-height: 0;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .25s ease;
}

.contact-list .contact-link:hover .social-icon {
  transform: scale(1.3);
}

.social-icon.youtube {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1195_21)"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.7466 4.83413C23.119 5.20889 23.3864 5.67489 23.5221 6.18547C24.0239 8.07002 24.0239 12 24.0239 12C24.0239 12 24.0239 15.93 23.5221 17.8146C23.3864 18.3251 23.119 18.7911 22.7466 19.1659C22.3743 19.5407 21.91 19.8111 21.4003 19.95C19.5239 20.4546 12.0239 20.4546 12.0239 20.4546C12.0239 20.4546 4.52393 20.4546 2.64756 19.95C2.13786 19.8111 1.67358 19.5407 1.30121 19.1659C0.928842 18.7911 0.661431 18.3251 0.525744 17.8146C0.0239258 15.93 0.0239258 12 0.0239258 12C0.0239258 12 0.0239258 8.07002 0.525744 6.18547C0.661431 5.67489 0.928842 5.20889 1.30121 4.83413C1.67358 4.45936 2.13786 4.18897 2.64756 4.05002C4.52393 3.54547 12.0239 3.54547 12.0239 3.54547C12.0239 3.54547 19.5239 3.54547 21.4003 4.05002C21.91 4.18897 22.3743 4.45936 22.7466 4.83413ZM15.8421 12L9.5694 8.43141V15.5687L15.8421 12Z" fill="%230027D5"/></g><defs><clipPath id="clip0_1195_21"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
}

a:hover .social-icon.youtube,
.contact-list .contact-link:hover .social-icon.youtube {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1195_21)"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.7466 4.83413C23.119 5.20889 23.3864 5.67489 23.5221 6.18547C24.0239 8.07002 24.0239 12 24.0239 12C24.0239 12 24.0239 15.93 23.5221 17.8146C23.3864 18.3251 23.119 18.7911 22.7466 19.1659C22.3743 19.5407 21.91 19.8111 21.4003 19.95C19.5239 20.4546 12.0239 20.4546 12.0239 20.4546C12.0239 20.4546 4.52393 20.4546 2.64756 19.95C2.13786 19.8111 1.67358 19.5407 1.30121 19.1659C0.928842 18.7911 0.661431 18.3251 0.525744 17.8146C0.0239258 15.93 0.0239258 12 0.0239258 12C0.0239258 12 0.0239258 8.07002 0.525744 6.18547C0.661431 5.67489 0.928842 5.20889 1.30121 4.83413C1.67358 4.45936 2.13786 4.18897 2.64756 4.05002C4.52393 3.54547 12.0239 3.54547 12.0239 3.54547C12.0239 3.54547 19.5239 3.54547 21.4003 4.05002C21.91 4.18897 22.3743 4.45936 22.7466 4.83413ZM15.8421 12L9.5694 8.43141V15.5687L15.8421 12Z" fill="%23cb3636"/></g><defs><clipPath id="clip0_1195_21"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
}

.social-icon.apple-podcasts {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1195_57)"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.992 22.816C22.76 22.224 23.296 21.392 23.528 20.8C23.992 19.608 24 18.256 24 17.4V6.6C24 5.752 24 4.392 23.528 3.2C23.296 2.608 22.752 1.768 21.992 1.184C21.552 0.84 21.024 0.52 20.304 0.304C19.528 0.08 18.584 0 17.4 0H6.6C5.416 0 4.472 0.08 3.696 0.304C2.976 0.52 2.448 0.848 2.008 1.184C1.24 1.776 0.704 2.608 0.472 3.2C0.00799999 4.392 0 5.744 0 6.6V17.4C0 18.256 0.00799999 19.608 0.472 20.8C0.704 21.392 1.248 22.232 2.008 22.816C2.448 23.16 2.976 23.48 3.696 23.696C4.472 23.92 5.416 24 6.6 24H17.4C18.584 24 19.536 23.928 20.304 23.696C21.024 23.48 21.552 23.152 21.992 22.816ZM3.55998 10.992C3.62398 6.4 7.38398 2.672 11.976 2.656C16.64 2.648 20.44 6.44 20.456 11.096C20.456 14.776 18.096 17.912 14.808 19.064C14.728 19.096 14.64 19.032 14.656 18.944L14.776 18.08C14.784 17.976 14.848 17.888 14.944 17.848C17.544 16.704 19.368 14.112 19.368 11.096C19.368 7.016 16.032 3.704 11.944 3.736C7.95198 3.768 4.68798 7.024 4.64798 11.024C4.61598 14.072 6.44798 16.704 9.07198 17.848C9.15998 17.896 9.22398 17.976 9.23998 18.08C9.26131 18.272 9.28977 18.4641 9.31821 18.656C9.33242 18.752 9.34665 18.848 9.35998 18.944C9.36798 19.024 9.28798 19.096 9.20798 19.064C5.88798 17.896 3.51198 14.712 3.55998 10.992ZM13.968 10.408C13.968 11.496 13.088 12.376 12 12.376C10.912 12.376 10.032 11.496 10.032 10.408C10.032 9.32 10.912 8.44 12 8.44C13.088 8.44 13.968 9.328 13.968 10.408ZM13.736 13.8C13.928 13.992 14.024 14.2 14.056 14.488C14.12 15.048 14.088 15.528 14.016 16.304C13.952 17.04 13.832 18.016 13.68 19.016C13.568 19.728 13.48 20.112 13.4 20.384C13.272 20.824 12.776 21.216 12 21.216C11.224 21.216 10.736 20.832 10.6 20.384C10.52 20.112 10.432 19.728 10.32 19.016C10.168 18.024 10.048 17.04 9.98398 16.304L9.98327 16.2954C9.91968 15.5244 9.88022 15.0459 9.94398 14.488C9.97598 14.2 10.08 14 10.264 13.8C10.624 13.416 11.256 13.176 12 13.176C12.744 13.176 13.376 13.424 13.736 13.8ZM11.784 5.456C8.79199 5.568 6.39199 8.04 6.35199 11.032C6.32799 13 7.31199 14.744 8.82399 15.776C8.89599 15.824 8.99999 15.768 8.99999 15.68C8.97599 15.336 8.97599 15.032 8.99199 14.712C8.99999 14.608 8.95999 14.512 8.87999 14.44C7.95999 13.576 7.39999 12.344 7.43199 10.984C7.49599 8.584 9.42399 6.632 11.824 6.536C14.432 6.432 16.576 8.528 16.576 11.104C16.576 12.416 16.016 13.6 15.128 14.44C15.056 14.512 15.016 14.608 15.016 14.712C15.032 15.024 15.024 15.328 15.008 15.672C15 15.76 15.104 15.824 15.184 15.768C16.672 14.752 17.656 13.032 17.656 11.096C17.664 7.912 15 5.328 11.784 5.456Z" fill="%230027D5"/></g><defs><clipPath id="clip0_1195_57"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
}

a:hover .social-icon.apple-podcasts,
.contact-list .contact-link:hover .social-icon.apple-podcasts {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1195_57)"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.992 22.816C22.76 22.224 23.296 21.392 23.528 20.8C23.992 19.608 24 18.256 24 17.4V6.6C24 5.752 24 4.392 23.528 3.2C23.296 2.608 22.752 1.768 21.992 1.184C21.552 0.84 21.024 0.52 20.304 0.304C19.528 0.08 18.584 0 17.4 0H6.6C5.416 0 4.472 0.08 3.696 0.304C2.976 0.52 2.448 0.848 2.008 1.184C1.24 1.776 0.704 2.608 0.472 3.2C0.00799999 4.392 0 5.744 0 6.6V17.4C0 18.256 0.00799999 19.608 0.472 20.8C0.704 21.392 1.248 22.232 2.008 22.816C2.448 23.16 2.976 23.48 3.696 23.696C4.472 23.92 5.416 24 6.6 24H17.4C18.584 24 19.536 23.928 20.304 23.696C21.024 23.48 21.552 23.152 21.992 22.816ZM3.55998 10.992C3.62398 6.4 7.38398 2.672 11.976 2.656C16.64 2.648 20.44 6.44 20.456 11.096C20.456 14.776 18.096 17.912 14.808 19.064C14.728 19.096 14.64 19.032 14.656 18.944L14.776 18.08C14.784 17.976 14.848 17.888 14.944 17.848C17.544 16.704 19.368 14.112 19.368 11.096C19.368 7.016 16.032 3.704 11.944 3.736C7.95198 3.768 4.68798 7.024 4.64798 11.024C4.61598 14.072 6.44798 16.704 9.07198 17.848C9.15998 17.896 9.22398 17.976 9.23998 18.08C9.26131 18.272 9.28977 18.4641 9.31821 18.656C9.33242 18.752 9.34665 18.848 9.35998 18.944C9.36798 19.024 9.28798 19.096 9.20798 19.064C5.88798 17.896 3.51198 14.712 3.55998 10.992ZM13.968 10.408C13.968 11.496 13.088 12.376 12 12.376C10.912 12.376 10.032 11.496 10.032 10.408C10.032 9.32 10.912 8.44 12 8.44C13.088 8.44 13.968 9.328 13.968 10.408ZM13.736 13.8C13.928 13.992 14.024 14.2 14.056 14.488C14.12 15.048 14.088 15.528 14.016 16.304C13.952 17.04 13.832 18.016 13.68 19.016C13.568 19.728 13.48 20.112 13.4 20.384C13.272 20.824 12.776 21.216 12 21.216C11.224 21.216 10.736 20.832 10.6 20.384C10.52 20.112 10.432 19.728 10.32 19.016C10.168 18.024 10.048 17.04 9.98398 16.304L9.98327 16.2954C9.91968 15.5244 9.88022 15.0459 9.94398 14.488C9.97598 14.2 10.08 14 10.264 13.8C10.624 13.416 11.256 13.176 12 13.176C12.744 13.176 13.376 13.424 13.736 13.8ZM11.784 5.456C8.79199 5.568 6.39199 8.04 6.35199 11.032C6.32799 13 7.31199 14.744 8.82399 15.776C8.89599 15.824 8.99999 15.768 8.99999 15.68C8.97599 15.336 8.97599 15.032 8.99199 14.712C8.99999 14.608 8.95999 14.512 8.87999 14.44C7.95999 13.576 7.39999 12.344 7.43199 10.984C7.49599 8.584 9.42399 6.632 11.824 6.536C14.432 6.432 16.576 8.528 16.576 11.104C16.576 12.416 16.016 13.6 15.128 14.44C15.056 14.512 15.016 14.608 15.016 14.712C15.032 15.024 15.024 15.328 15.008 15.672C15 15.76 15.104 15.824 15.184 15.768C16.672 14.752 17.656 13.032 17.656 11.096C17.664 7.912 15 5.328 11.784 5.456Z" fill="%23cb3636"/></g><defs><clipPath id="clip0_1195_57"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
}



.social-icon.facebook {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1195_11)"><path d="M12 0C18.6274 0 24 5.37259 24 12C24 18.1352 19.3955 23.1944 13.4538 23.9121V15.667L16.7001 15.667L17.3734 12H13.4538V10.7031C13.4538 9.73417 13.6439 9.06339 14.0799 8.63483C14.5159 8.20627 15.1979 8.01993 16.1817 8.01993C16.4307 8.01993 16.6599 8.02241 16.8633 8.02736C17.1591 8.03456 17.4002 8.047 17.568 8.06467V4.74048C17.501 4.72184 17.4218 4.70321 17.3331 4.68486C17.1321 4.6433 16.8822 4.60324 16.6136 4.56806C16.0523 4.49453 15.4093 4.4423 14.9594 4.4423C13.1424 4.4423 11.7692 4.83102 10.8107 5.63619C9.65388 6.60791 9.10108 8.18622 9.10108 10.4199V12H6.62659V15.667H9.10108V23.6466C3.87432 22.3498 0 17.6277 0 12C0 5.37259 5.37259 0 12 0Z" fill="%230027D5"/></g><defs><clipPath id="clip0_1195_11"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
}

.contact-list .contact-link:hover .social-icon.facebook {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1195_11)"><path d="M12 0C18.6274 0 24 5.37259 24 12C24 18.1352 19.3955 23.1944 13.4538 23.9121V15.667L16.7001 15.667L17.3734 12H13.4538V10.7031C13.4538 9.73417 13.6439 9.06339 14.0799 8.63483C14.5159 8.20627 15.1979 8.01993 16.1817 8.01993C16.4307 8.01993 16.6599 8.02241 16.8633 8.02736C17.1591 8.03456 17.4002 8.047 17.568 8.06467V4.74048C17.501 4.72184 17.4218 4.70321 17.3331 4.68486C17.1321 4.6433 16.8822 4.60324 16.6136 4.56806C16.0523 4.49453 15.4093 4.4423 14.9594 4.4423C13.1424 4.4423 11.7692 4.83102 10.8107 5.63619C9.65388 6.60791 9.10108 8.18622 9.10108 10.4199V12H6.62659V15.667H9.10108V23.6466C3.87432 22.3498 0 17.6277 0 12C0 5.37259 5.37259 0 12 0Z" fill="%23cb3636"/></g><defs><clipPath id="clip0_1195_11"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
}

.social-icon.linkedin {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.1429 0H2.85714C1.28 0 0 1.28 0 2.85714V21.1429C0 22.72 1.28 24 2.85714 24H21.1429C22.72 24 24 22.72 24 21.1429V2.85714C24 1.28 22.72 0 21.1429 0ZM7.42857 9.14286V20H4V9.14286H7.42857ZM4 5.98286C4 5.18286 4.68571 4.57143 5.71429 4.57143C6.74286 4.57143 7.38857 5.18286 7.42857 5.98286C7.42857 6.78286 6.78857 7.42857 5.71429 7.42857C4.68571 7.42857 4 6.78286 4 5.98286ZM20 20H16.5714C16.5714 20 16.5714 14.7086 16.5714 14.2857C16.5714 13.1429 16 12 14.5714 11.9771H14.5257C13.1429 11.9771 12.5714 13.1543 12.5714 14.2857C12.5714 14.8057 12.5714 20 12.5714 20H9.14286V9.14286H12.5714V10.6057C12.5714 10.6057 13.6743 9.14286 15.8914 9.14286C18.16 9.14286 20 10.7029 20 13.8629V20Z" fill="%230027D5"/></svg>');
}

.contact-list .contact-link:hover .social-icon.linkedin {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.1429 0H2.85714C1.28 0 0 1.28 0 2.85714V21.1429C0 22.72 1.28 24 2.85714 24H21.1429C22.72 24 24 22.72 24 21.1429V2.85714C24 1.28 22.72 0 21.1429 0ZM7.42857 9.14286V20H4V9.14286H7.42857ZM4 5.98286C4 5.18286 4.68571 4.57143 5.71429 4.57143C6.74286 4.57143 7.38857 5.18286 7.42857 5.98286C7.42857 6.78286 6.78857 7.42857 5.71429 7.42857C4.68571 7.42857 4 6.78286 4 5.98286ZM20 20H16.5714C16.5714 20 16.5714 14.7086 16.5714 14.2857C16.5714 13.1429 16 12 14.5714 11.9771H14.5257C13.1429 11.9771 12.5714 13.1543 12.5714 14.2857C12.5714 14.8057 12.5714 20 12.5714 20H9.14286V9.14286H12.5714V10.6057C12.5714 10.6057 13.6743 9.14286 15.8914 9.14286C18.16 9.14286 20 10.7029 20 13.8629V20Z" fill="%23cb3636"/></svg>');
}

.social-icon.instagram {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3952 7.02212C17.6005 7.02368 16.9543 6.3802 16.9528 5.58548C16.9512 4.79076 17.5947 4.14457 18.3898 4.14302C19.1848 4.14146 19.831 4.78531 19.8326 5.58004C19.8338 6.37476 19.1903 7.02057 18.3952 7.02212Z" fill="%230027D5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12.0115 18.161C8.60909 18.1676 5.8451 15.4149 5.8385 12.0117C5.83188 8.60923 8.58536 5.84481 11.9878 5.8382C15.3909 5.83159 18.1553 8.5859 18.1619 11.9879C18.1685 15.3912 15.4143 18.1544 12.0115 18.161ZM11.992 8.00035C9.78365 8.00424 7.99594 9.79858 7.99983 12.0074C8.0041 14.2166 9.79882 16.0039 12.0072 15.9996C14.2164 15.9954 16.0041 14.2014 15.9998 11.9922C15.9955 9.78302 14.2008 7.99608 11.992 8.00035Z" fill="%230027D5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M4.1192 0.646479C4.88126 0.347876 5.75333 0.143362 7.03015 0.0830982C8.31011 0.0216726 8.71872 0.00767102 11.9769 0.00145262C15.2358 -0.00476578 15.6444 0.00766862 16.9244 0.0644334C18.2016 0.119643 19.0741 0.321049 19.8377 0.616544C20.6277 0.920974 21.298 1.33078 21.966 1.99603C22.6339 2.66205 23.0453 3.33002 23.3536 4.1189C23.6518 4.88174 23.8563 5.75306 23.917 7.03068C23.9776 8.31023 23.9924 8.71847 23.9986 11.9771C24.0048 15.2353 23.9916 15.6443 23.9356 16.925C23.88 18.2014 23.679 19.0743 23.3835 19.8375C23.0783 20.6276 22.6693 21.2979 22.004 21.9659C21.3388 22.6342 20.6701 23.0452 19.8812 23.3539C19.1184 23.6517 18.2471 23.8562 16.9702 23.9173C15.6903 23.9779 15.2817 23.9923 12.0224 23.9985C8.76459 24.0048 8.35598 23.9923 7.07605 23.9359C5.79882 23.88 4.92597 23.6789 4.16275 23.3838C3.37271 23.0782 2.70242 22.6696 2.03446 22.004C1.36611 21.3383 0.954386 20.67 0.646458 19.8811C0.347858 19.1186 0.144107 18.2469 0.0830727 16.9705C0.0220359 15.6901 0.00765506 15.2811 0.00143906 12.0229C-0.00480094 8.76435 0.00803667 8.35611 0.0640167 7.07616C0.1204 5.79855 0.320637 4.92606 0.61613 4.16206C0.921328 3.37239 1.33035 2.70248 1.99637 2.03413C2.6616 1.36616 3.33033 0.954017 4.1192 0.646479ZM4.94154 21.3679C5.36494 21.5308 6.00023 21.7252 7.17014 21.7761C8.43607 21.8309 8.81514 21.843 12.0185 21.8368C15.223 21.8309 15.6021 21.8173 16.8676 21.7579C18.0363 21.7022 18.6716 21.5055 19.0939 21.3407C19.6541 21.1218 20.0531 20.8601 20.4722 20.4406C20.8913 20.0195 21.1506 19.6194 21.3676 19.0591C21.5309 18.6354 21.7249 17.9996 21.7758 16.8297C21.8314 15.5646 21.8431 15.1851 21.8368 11.9809C21.831 8.77757 21.8174 8.3981 21.7572 7.13254C21.7019 5.96339 21.5056 5.32808 21.3404 4.90623C21.1215 4.34519 20.8606 3.94705 20.4399 3.52753C20.0192 3.10801 19.6191 2.84945 19.0581 2.6325C18.6355 2.46881 17.9994 2.27518 16.8303 2.22426C15.5643 2.16865 15.1849 2.15737 11.9808 2.1636C8.77743 2.16982 8.39836 2.18264 7.13281 2.24253C5.9633 2.29812 5.32877 2.49447 4.90575 2.65972C4.34587 2.87861 3.94696 3.13872 3.52746 3.5598C3.10871 3.98087 2.84938 4.38018 2.63244 4.94161C2.46993 5.36464 2.27434 6.00072 2.2242 7.16987C2.16898 8.43581 2.15733 8.81529 2.16355 12.0187C2.16939 15.2228 2.18298 15.6023 2.24248 16.8671C2.29729 18.037 2.49518 18.6715 2.65966 19.0949C2.87855 19.6544 3.13944 20.0533 3.55973 20.4729C3.98081 20.8908 4.38088 21.1509 4.94154 21.3679Z" fill="%230027D5"/></svg>');
}

.contact-list .contact-link:hover .social-icon.instagram {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3952 7.02212C17.6005 7.02368 16.9543 6.3802 16.9528 5.58548C16.9512 4.79076 17.5947 4.14457 18.3898 4.14302C19.1848 4.14146 19.831 4.78531 19.8326 5.58004C19.8338 6.37476 19.1903 7.02057 18.3952 7.02212Z" fill="%23cb3636"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12.0115 18.161C8.60909 18.1676 5.8451 15.4149 5.8385 12.0117C5.83188 8.60923 8.58536 5.84481 11.9878 5.8382C15.3909 5.83159 18.1553 8.5859 18.1619 11.9879C18.1685 15.3912 15.4143 18.1544 12.0115 18.161ZM11.992 8.00035C9.78365 8.00424 7.99594 9.79858 7.99983 12.0074C8.0041 14.2166 9.79882 16.0039 12.0072 15.9996C14.2164 15.9954 16.0041 14.2014 15.9998 11.9922C15.9955 9.78302 14.2008 7.99608 11.992 8.00035Z" fill="%23cb3636"/><path fill-rule="evenodd" clip-rule="evenodd" d="M4.1192 0.646479C4.88126 0.347876 5.75333 0.143362 7.03015 0.0830982C8.31011 0.0216726 8.71872 0.00767102 11.9769 0.00145262C15.2358 -0.00476578 15.6444 0.00766862 16.9244 0.0644334C18.2016 0.119643 19.0741 0.321049 19.8377 0.616544C20.6277 0.920974 21.298 1.33078 21.966 1.99603C22.6339 2.66205 23.0453 3.33002 23.3536 4.1189C23.6518 4.88174 23.8563 5.75306 23.917 7.03068C23.9776 8.31023 23.9924 8.71847 23.9986 11.9771C24.0048 15.2353 23.9916 15.6443 23.9356 16.925C23.88 18.2014 23.679 19.0743 23.3835 19.8375C23.0783 20.6276 22.6693 21.2979 22.004 21.9659C21.3388 22.6342 20.6701 23.0452 19.8812 23.3539C19.1184 23.6517 18.2471 23.8562 16.9702 23.9173C15.6903 23.9779 15.2817 23.9923 12.0224 23.9985C8.76459 24.0048 8.35598 23.9923 7.07605 23.9359C5.79882 23.88 4.92597 23.6789 4.16275 23.3838C3.37271 23.0782 2.70242 22.6696 2.03446 22.004C1.36611 21.3383 0.954386 20.67 0.646458 19.8811C0.347858 19.1186 0.144107 18.2469 0.0830727 16.9705C0.0220359 15.6901 0.00765506 15.2811 0.00143906 12.0229C-0.00480094 8.76435 0.00803667 8.35611 0.0640167 7.07616C0.1204 5.79855 0.320637 4.92606 0.61613 4.16206C0.921328 3.37239 1.33035 2.70248 1.99637 2.03413C2.6616 1.36616 3.33033 0.954017 4.1192 0.646479ZM4.94154 21.3679C5.36494 21.5308 6.00023 21.7252 7.17014 21.7761C8.43607 21.8309 8.81514 21.843 12.0185 21.8368C15.223 21.8309 15.6021 21.8173 16.8676 21.7579C18.0363 21.7022 18.6716 21.5055 19.0939 21.3407C19.6541 21.1218 20.0531 20.8601 20.4722 20.4406C20.8913 20.0195 21.1506 19.6194 21.3676 19.0591C21.5309 18.6354 21.7249 17.9996 21.7758 16.8297C21.8314 15.5646 21.8431 15.1851 21.8368 11.9809C21.831 8.77757 21.8174 8.3981 21.7572 7.13254C21.7019 5.96339 21.5056 5.32808 21.3404 4.90623C21.1215 4.34519 20.8606 3.94705 20.4399 3.52753C20.0192 3.10801 19.6191 2.84945 19.0581 2.6325C18.6355 2.46881 17.9994 2.27518 16.8303 2.22426C15.5643 2.16865 15.1849 2.15737 11.9808 2.1636C8.77743 2.16982 8.39836 2.18264 7.13281 2.24253C5.9633 2.29812 5.32877 2.49447 4.90575 2.65972C4.34587 2.87861 3.94696 3.13872 3.52746 3.5598C3.10871 3.98087 2.84938 4.38018 2.63244 4.94161C2.46993 5.36464 2.27434 6.00072 2.2242 7.16987C2.16898 8.43581 2.15733 8.81529 2.16355 12.0187C2.16939 15.2228 2.18298 15.6023 2.24248 16.8671C2.29729 18.037 2.49518 18.6715 2.65966 19.0949C2.87855 19.6544 3.13944 20.0533 3.55973 20.4729C3.98081 20.8908 4.38088 21.1509 4.94154 21.3679Z" fill="%23cb3636"/></svg>');
}

.swiper-button-prev,
.swiper-button-next {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all .25s ease;
}

.swiper-button-prev {
  transform: rotate(180deg);
}


.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: center center;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23ffffff"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>');
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

/* header */
.header {
  background-color: #FBFBFB;
  padding: 1.5rem 0;
  width: 100%;
  z-index: 100;
  transition: all .25s ease;
}

.header.fixed {
  position: sticky;
  top: 0;
  box-shadow: 0px 15px 15px 5px rgba(0, 0, 0, 0.1);
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.nav .nav-link {
  display: block;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--dark-color);
}

/* .hero */
.hero {
  position: relative;
}

.hero .row .col:first-child {
  aspect-ratio: 960 / 843;
  line-height: 0;
}

.hero .row .col:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background: no-repeat url("/src/images/desktop/index/hero-section2.png") center center / cover;
  padding: 1.5rem 1.5rem 2.5rem;
}

.hero .row .col:last-child.no-bg {
  background: none;
}

.hero .row .col:last-child .hero-main-text {
  text-align: center;
  color: var(--primary-color);
}

.hero .row .col:last-child h1 {
  margin-bottom: .75rem;
  line-height: 1.2;
}

.hero .container {
  position: relative;
  padding: 0 5rem;
  max-width: 100%;
  z-index: 1;
}

.hero .intro {
  max-width: 1077px;
  width: 100%;
  background: var(--light-color);
  padding: 5rem 2.5rem;
  margin-left: auto;
  margin-top: -162px;
}

.hero .intro ul {
  display: flex;
  gap: 0.25rem;
}

.hero .intro ul li a {
  display: block;
  line-height: 0;
}

.hero.section-hero .row .col:first-child {
  aspect-ratio: 948 / 640;
}

.hero.section-hero .row .col:last-child {
  padding: 1.5rem 5rem;
  justify-content: flex-start;
}

.hero.section-hero .row .col:last-child .hero-main-text {
  text-align: left;
}

.hero.section-hero .row.row-title {
  border-top: 1px solid var(--secondary-color);
}

.hero.section-hero .row.row-title .col:last-child {
  padding: 1.5rem;
}

@media (max-width: 991.98px) {
  .hero .container {
    padding: 0 .75rem;
  }

  .hero .intro {
    padding: 2.5rem 1.5rem;
    margin-top: 0;
  }

  .hero .intro .h3 {
    font-size: 1.5rem;
  }

  .hero.section-hero .row.row-title .col:last-child {
    padding: 3rem .75rem;
  }
}

/* section - services */
.services h2 {
  margin-bottom: 2rem;
}

.services .services-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 1076px;
  width: 100%;
  margin: 0 auto 2rem;
}

.services .service-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.services .service-item:nth-child(even) {
  flex-direction: row-reverse;
}

.services .service-item .img {
  display: block;
  line-height: 0;
  aspect-ratio: 636 / 320;
  min-width: 636px;
}

.services .service-item .text {
  position: relative;
  padding: 1.5rem;
  flex: 1;
  background-color: var(--light-color);
  max-width: 480px;
  width: 100%;
}

.services .service-item:nth-child(odd) .text {
  margin-left: -2.5rem;
}

.services .service-item:nth-child(even) .text {
  margin-right: -2.5rem;
}

.services .service-item .text p {
  margin-bottom: 0;
}

.services .service-item h3 {
  position: relative;
  padding-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.services .service-item h3:before {
  content: '';
  position: absolute;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  left: 0;
  top: 0;
  background-color: transparent;
}

.services .service-item h3:after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 2.5px;
  background-color: var(--primary-color);
  top: 18px;
  left: 5px;
}

.services .flex-wrap {
  gap: 0.25rem;
  justify-content: flex-end;
}


@media (max-width: 991.98px) {
  .services .services-list {
    gap: 2rem;
  }

  .services .service-item {
    flex-wrap: wrap;
  }

  .services .service-item > * {
    flex: 0 1 100%;
  }

  .services .service-item .img {
    min-width: inherit;
    aspect-ratio: 351 / 176;
  }

  .services .service-item .img img {
    width: 100%;
  }

  .services .service-item .text {
    margin: 0 !important;
    max-width: 100%;
  }

  .services .flex-wrap {
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
  }

  .hero.section-hero .row .col:last-child {
    padding: 1.5rem;
  }
}


/* section - blog */

.blog {
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.blog .container.container-lg {
  position: relative;
  max-width: 1432px;
}

.blog .container .swiper {
  max-width: 1296px;
  position: unset;
}

.blog .container .swiper-button-prev {
  left: 12px;
}

.blog .container .swiper-button-next {
  right: 12px;
}

.card {
  width: auto;
}

.card .card-header {
  aspect-ratio: 416 / 200;
  margin-bottom: 1rem;
}

.card .blog-item-index {
  display: flex;
  align-items: flex-start;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 500;
  gap: 0.5rem;
}

.card .blog-item-cat {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1rem;
  min-width: 88px;
  background: var(--primary-color);
  color: var(--light-color);
  border-radius: 40px;
}

.card h1,
.card h2,
.card h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.card .blog-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.blog-content-wrap  {
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  padding: 5rem 0.75rem;
}

.blog-content-container {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
}

.blog-content-container .blog-content-row:not(:last-child) {
  margin-bottom: 3rem;
}

.blog-content-container img {
  margin-bottom: 1.5rem;
}

.blog-content-container .blog-content-row > p {
  margin-bottom: 0.5rem;
}

.blog-content-container .blog-content-row > p:last-child {
  margin-bottom: 0;
}

.blog-content-container .blog-content-row .no-margin-block {
  margin-bottom: 1.5rem;
}


.blog-content-container .blog-content-row .no-margin-block:last-child,
.blog-content-container .no-margin-block p {
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .blog .container .swiper {
    position: relative;
    max-width: 768px;
    padding-bottom: 76px;
  }

  .swiper-controller {
    position: absolute;
    display: flex;
    gap: 1.5rem;
    bottom: 0;
    right: 0;
  }

  .blog .swiper-controller .swiper-button-prev,
  .blog .swiper-controller .swiper-button-next {
    position: relative;
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;
  }

  .blog-content-container {
    padding: 4rem 0.75rem;
  }
}

/* section - jobs-case */
.jobs-case .row {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.jobs-case .row .col:first-child {
  padding: 1.5rem;
  background-color: #EDEDED;
  max-width: 745px;
  width: 100%;
}

.jobs-case .row .col:first-child .imgWrap {
  aspect-ratio: 697 / 578;
  line-height: 0;
}

.jobs-case .row .col:last-child {
  flex: 1;
}

.jobs-case .row .col:last-child .text {
  box-sizing: border-box;
  position: relative;
  padding: 5rem 2.5rem;
  background-color: var(--section-bg-primary);
}

.jobs-case .row .col:last-child .text:first-child {
  top: 25px;
  left: -220px;
}


.jobs-case .row .col:last-child .text.bg-light {
  background: var(--light-color);
}

.jobs-case .text .icon {
  position: relative;
  display: block;
  width: 2.5rem;
  aspect-ratio: 1;
  margin-bottom: 1.5rem;
}

.jobs-case .text .icon:before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 2.5px;
  background: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jobs-case .text p {
  margin-bottom: 0;
}

.jobs-case .text p + .button {
  margin-top: 1.5rem;
}

.jobs-case .section-jobs-case-list {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--section-bg-primary);
}

.jobs-case .section-jobs-case-list .card {
  width: calc(100% / 4);
}

.jobs-case .section-jobs-case-list .card-header {
  display: inline-block;
  aspect-ratio: 1;
  line-height: 0;
  margin-bottom: 1rem;
  width: 5rem;
  border-radius: 50%;
}

.jobs-case .section-jobs-case-list .card-text {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.jobs-case .section-jobs-case-list .card-body {
  border-bottom: 1px solid #4b4b4b;
}

.jobs-case .section-jobs-case-list .card-body ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.jobs-case .section-jobs-case-list .card-body ul li {
  display: flex;
  position: relative;
  font-weight: 500;
}

.jobs-case .section-jobs-case-list .card-body ul li .box {
  position: relative;
  display: block;
  width: 1rem;
  height: 1rem;
  margin-top: .25rem;
  margin-right: .25rem;
  background-color: var(--primary-color);
}

.jobs-case .section-jobs-case-list .card-body ul li .box:after {
  content: '';
  position: absolute;
  display: block;
  line-height: 0;
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23ffffff"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-size: cover;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.jobs-case .section-jobs-case-list .card-footer {
  padding: 1rem 0 0 0;
}

@media (max-width: 1198.98px) {
  .jobs-case .section-jobs-case-list {
    flex-wrap: wrap;
  }

  .jobs-case .section-jobs-case-list .card {
    width: calc((100% - 24px)/ 2);
  }
}

@media (max-width: 991.98px) {
  .jobs-case .row {
    flex-wrap: wrap;
    gap: 0;
  }

  .jobs-case .row .col {
    flex: 0 1 100%;
    width: 100%;
    max-width: 100% !important;
  }

  .jobs-case .row .col:first-child {
    padding-bottom: 0;
  }

  .jobs-case .row .col:first-child .imgWrap {
    aspect-ratio: inherit;
    text-align: center;
  }

  .jobs-case .row .col:first-child .imgWrap .cover-img {
    height: auto;
    width: auto;
  }

  .jobs-case .row .col:last-child .text {
    top: inherit !important;
    bottom: inherit !important;
    left: inherit !important;
    right: inherit !important;
    padding: 2.5rem 1.5rem;
  }

  .jobs-case .row .col:last-child .text:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 767.98px) {
  .jobs-case .section-jobs-case-list {
    gap: 0;
  }

  .jobs-case .section-jobs-case-list .card {
    width: 100%;
  }

  .jobs-case .section-jobs-case-list .card:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

/* section - newsletter */
.newsletter {
  padding: 0;
}

.newsletter .row .col {
  width: auto;
}

.newsletter .row .col:first-child {
  aspect-ratio: 960 / 834;
  max-width: 960px;
  line-height: 0;
}

.newsletter .row .col:last-child {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem;
  background-repeat: no-repeat;
  background-image: url('/src/images/desktop/index/section-newsletter-right.png');
  background-position: 50% 50%;
  background-size: cover;
}

.newsletter .newsletter-block {
  background-color: var(--light-color);
  padding: 5rem;
  transition: padding .25s ease;
  max-width: 800px;
  min-width: 500px;
  width: 100%;
}

.newsletter .newsletter-block p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.newsletter form .form-row:not(:last-child) {
  margin-bottom: 0.5rem;
}

.newsletter form .form-control {
  background-color: #f1f1f1;
  padding: .5rem 1rem;
  display: block;
  width: 100%;
  border: 1px solid transparent;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
  transition: all .25s ease;
}

.newsletter form .form-control::placeholder {
  color: #4b4b4b;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
}

.newsletter .newsletter-block .button {
  margin-top: 1.5rem;
}

@media (max-width: 991.98px) {
  .newsletter .newsletter-block {
    min-width: inherit;
    max-width: 100%;
    padding: 2.5rem 1.5rem;
  }
}

/* section - contact */
.contact {
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.contact-list .contact-item {
  border-bottom: 1px solid var(--dark-color);
}

.contact-list .contact-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: transparent;
  transition: all .25s ease;
}

.contact-list .contact-link .arrow {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 12C1.5 11.5858 1.83579 11.25 2.25 11.25H19.9393L15.2197 6.53033C14.9268 6.23744 14.9268 5.76256 15.2197 5.46967C15.5126 5.17678 15.9874 5.17678 16.2803 5.46967L22.2803 11.4697C22.5732 11.7626 22.5732 12.2374 22.2803 12.5303L16.2803 18.5303C15.9874 18.8232 15.5126 18.8232 15.2197 18.5303C14.9268 18.2374 14.9268 17.7626 15.2197 17.4697L19.9393 12.75H2.25C1.83579 12.75 1.5 12.4142 1.5 12Z" fill="black"/></svg>');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.5rem 1.5rem;
}

.contact-list .contact-link:hover .arrow {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 12C1.5 11.5858 1.83579 11.25 2.25 11.25H19.9393L15.2197 6.53033C14.9268 6.23744 14.9268 5.76256 15.2197 5.46967C15.5126 5.17678 15.9874 5.17678 16.2803 5.46967L22.2803 11.4697C22.5732 11.7626 22.5732 12.2374 22.2803 12.5303L16.2803 18.5303C15.9874 18.8232 15.5126 18.8232 15.2197 18.5303C14.9268 18.2374 14.9268 17.7626 15.2197 17.4697L19.9393 12.75H2.25C1.83579 12.75 1.5 12.4142 1.5 12Z" fill="%23cb3636"/></svg>');
  animation: movetoright .85s ease-in-out infinite alternate;
}

@keyframes movetoright {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
  }

}

.contact-list .text-area {
  display: flex;
  color: var(--dark-color);
}

.contact-list .text-area .social-icon {
  margin-right: .5rem;
}

.contact-list .text-area > span {
  display: block;
  font-size: 1.75rem;
  transition: color .25s ease;
}

.contact-list .contact-link:hover .text-area > span {
  color: #cb3636;
}

.contact-list .text-area .channel-name {
  margin-right: 1rem;
}

.contact-list .text-area .channel-name.text-underline {
  text-decoration: underline;
}

/* Blog Page - List */

.blog-list {
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  padding: 5rem 0;
}

.blog-list .form-control {
  max-width: 416px;
  width: 100%;
  padding: 1rem 3rem 1rem 3rem;
  position: relative;
  border-radius: 2.5rem;
  border: 1px solid var(--button-color);
  margin-bottom: 2.5rem;
  color: var(--button-color);
  font-weight: 500;
  font-size: 1rem;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.6129 15.5163C19.0653 13.5343 19.7159 11.077 19.4343 8.636C19.1528 6.19499 17.96 3.95028 16.0945 2.35097C14.2291 0.751654 11.8285 -0.0843218 9.37314 0.0102879C6.91777 0.104898 4.58867 1.12312 2.85179 2.86123C1.11492 4.59935 0.0983653 6.92919 0.00551259 9.38462C-0.0873401 11.8401 0.750353 14.24 2.351 16.1043C3.95165 17.9687 6.19721 19.1599 8.63842 19.4397C11.0796 19.7194 13.5365 19.0671 15.5174 17.6133H15.5159C15.5599 17.6733 15.6089 17.7308 15.6629 17.7858L21.4379 23.5608C21.7192 23.8422 22.1007 24.0004 22.4986 24.0006C22.8965 24.0007 23.2782 23.8428 23.5596 23.5615C23.8411 23.2803 23.9993 22.8987 23.9994 22.5008C23.9996 22.1029 23.8417 21.7212 23.5604 21.4398L17.7854 15.6648C17.7318 15.6105 17.6741 15.5618 17.6129 15.5163ZM17.9999 9.75027C17.9999 10.8337 17.7865 11.9065 17.3719 12.9074C16.9573 13.9083 16.3496 14.8178 15.5835 15.5839C14.8174 16.35 13.908 16.9577 12.907 17.3723C11.9061 17.7869 10.8333 18.0003 9.74989 18.0003C8.66648 18.0003 7.59369 17.7869 6.59275 17.3723C5.59182 16.9577 4.68234 16.35 3.91626 15.5839C3.15018 14.8178 2.54248 13.9083 2.12788 12.9074C1.71328 11.9065 1.49989 10.8337 1.49989 9.75027C1.49989 7.56224 2.36908 5.46382 3.91626 3.91664C5.46343 2.36947 7.56185 1.50027 9.74989 1.50027C11.9379 1.50027 14.0363 2.36947 15.5835 3.91664C17.1307 5.46382 17.9999 7.56224 17.9999 9.75027Z" fill="%234B4B4B"/></svg>');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 1rem center;
}

/* .blog-list .form-control:before {
  content: '';
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.6129 15.5163C19.0653 13.5343 19.7159 11.077 19.4343 8.636C19.1528 6.19499 17.96 3.95028 16.0945 2.35097C14.2291 0.751654 11.8285 -0.0843218 9.37314 0.0102879C6.91777 0.104898 4.58867 1.12312 2.85179 2.86123C1.11492 4.59935 0.0983653 6.92919 0.00551259 9.38462C-0.0873401 11.8401 0.750353 14.24 2.351 16.1043C3.95165 17.9687 6.19721 19.1599 8.63842 19.4397C11.0796 19.7194 13.5365 19.0671 15.5174 17.6133H15.5159C15.5599 17.6733 15.6089 17.7308 15.6629 17.7858L21.4379 23.5608C21.7192 23.8422 22.1007 24.0004 22.4986 24.0006C22.8965 24.0007 23.2782 23.8428 23.5596 23.5615C23.8411 23.2803 23.9993 22.8987 23.9994 22.5008C23.9996 22.1029 23.8417 21.7212 23.5604 21.4398L17.7854 15.6648C17.7318 15.6105 17.6741 15.5618 17.6129 15.5163ZM17.9999 9.75027C17.9999 10.8337 17.7865 11.9065 17.3719 12.9074C16.9573 13.9083 16.3496 14.8178 15.5835 15.5839C14.8174 16.35 13.908 16.9577 12.907 17.3723C11.9061 17.7869 10.8333 18.0003 9.74989 18.0003C8.66648 18.0003 7.59369 17.7869 6.59275 17.3723C5.59182 16.9577 4.68234 16.35 3.91626 15.5839C3.15018 14.8178 2.54248 13.9083 2.12788 12.9074C1.71328 11.9065 1.49989 10.8337 1.49989 9.75027C1.49989 7.56224 2.36908 5.46382 3.91626 3.91664C5.46343 2.36947 7.56185 1.50027 9.74989 1.50027C11.9379 1.50027 14.0363 2.36947 15.5835 3.91664C17.1307 5.46382 17.9999 7.56224 17.9999 9.75027Z" fill="%234B4B4B"/></svg>');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
} */

.blog-list .card-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  column-gap: 1.5rem;
  row-gap: 5rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 991.98px) {
  .blog-list {
    padding: 4rem 0;
  }

  .blog-list .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .blog-list .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Pagnation */
.pagination-container {
  max-width: 328px;
  margin: 0 auto;
}

.pagination-container .pagination {
  border-radius: 2.5rem;
  background-color: var(--light-color);
  padding: .5rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-container .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--button-color);
  font-weight: 500;
  transition: all .25s ease;
}

.pagination-container .page-item .page-link:hover,
.pagination-container .page-item.active .page-link {
  color: var(--primary-color);
}

.pagination-container .page-item:is(.prev, .next) .page-link {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%234B4B4B"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>') 50% 50% /24px 24px no-repeat;
}

.pagination-container .page-item.next .page-link {
  transform: rotate(180deg);
}

.pagination-container .page-item:is(.prev, .next) .page-link:hover {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%230027D5"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>') 50% 50% /24px 24px no-repeat;
}

/* inside-contact */

.inside-contact {
  padding: 5rem;
}

.inside-contact .row {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.inside-contact .row > a {
  font-size: 2rem;
  color: var(--dark-color);
  font-weight: 500;
  transition: all .25s ease;
}

.inside-contact .row > a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  animation: shake 2s forwards infinite ease;
}

.inside-contact .row > ul {
  display: flex;
  gap: 0.25rem;
}

@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  10% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  90% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@media (max-width: 991.98px) {
  .inside-contact {
    display: none;
  }
}

/* footer */
.footer {
  background: var(--light-color);
  padding: 1.5rem 0;
  text-align: center;
}

.footer p {
  margin-bottom: 0;
}

/* backtotop button */
.back-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-top.show {
  opacity: 1;
  transform: translateY(0);
}

.back-top:hover {
  background-color: #2980b9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.back-top:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}